* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../assets/images/legendarios-1250x703.png);
    background-size: cover;
}
.h1{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    border: 0px;
    border-bottom: 20px;
    border-color: red;
    border-style: solid;
}
.index{
    background-color: rgb(44, 44, 44);
    text-align: left;
    padding-left: 450px;
    border-color: red;
    border-style: solid;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
    color: yellow;
}
.div1 {
    margin: auto;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
    padding-left: 50px;
    border-style: inset;
    border-color: red;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    border: 0px;
    border-top: 20px;
    border-color: red;
    border-style: solid;
}
.link{
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hoenn{
    background-color: rgb(0, 199, 90);
    border-style: inherit;
    border-color: green;
    border-width: 10px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.sinnoh{
    background-color: rgb(169, 189, 255);
    border-style: inherit;
    border-color: rgb(212, 137, 255);
    border-width: 10px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-top: 10px;
}
.kalos{
    background-color: rgb(255, 25, 25);
    color: white;
    border-style: inherit;
    border-color: rgb(46, 137, 255);
    border-width: 10px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
     margin-top: 10px;
}
.h2{
    text-align: center;
    font-weight: bold;
}
.list {
    list-style-type: none;
}
table{
    border: 5px;
    border-color: black;
    border-style: inset;
    border-radius: 15px;
    background-color: gray;
}
th{
    text-align: center;
    border: 5px;
    border-color: red;
    border-style: inset;
    border-radius: 15px;
    background-color: white;
}   
td{
    text-align: center;
    border: 5px;
    border-color: red;
    border-style: inset;
    border-radius: 15px;
    background-color: white;
}
.img{
    width: 800px;
}
.kalosT {
    color: black;
}